 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My creative life has been a series of variations on the question, “What does this button do?” and having asked so many times, I’ve come to appreciate really good buttons.</p>
                </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    
                </div>
            </div>
        </div>
    </section>